body{  
    text-align: center; /* Faço o alinhamento total dos textos */
    background-color: #363636 ;
}
header{
    display: block;
    background-color: #148527 ; /* Faço o básico para a parte de navegação*/
    padding: 20px;
}
ul{
    margin: 5px;
    padding:5px;
}
li{
    border-radius: 10px;
    list-style: none; 
    margin: 10px;
    padding: 5px;
    margin: 5px;
    display: inline;
}
a{
    text-decoration:none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: rgb(179, 255, 156);
}
li a:hover{  /*E deixo bonito ao estar com o mouse em cima*/
    background-color: #505050;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color:rgb(255, 255, 255)

}
img{  /* Ajusto as imagens, e posteriormente uma emagem especica*/ 
    border-radius: 300px;
}
main { /*Faço a parte pros textos ficarem centralizados e os titúlos serem brancos por herança*/
      color: rgb(255, 255, 255);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: medium;
      padding: 50px;
}
form{ /*Configurações basicas pra form*/
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
}
.texto{  /*Maior parte é texto que entra aqui, e eu deicidi colocar uma cor que lembre o back-end e as coisas básicas*/
    display: flex; 
    align-items: center;
    justify-content: center;
    color: rgb(32, 255, 32);
    font-size:17px;
    padding: 60px;
}
#Git{ /* Id para configurar o botão que irá redirecionar a gente po que trabalhei até o momento*/
    background-color: #385f57;
    color: #00ff2a;
    padding: 10px;
    margin: 10px;
    border-radius: 300px;
}
#Git:hover{
    background-color: rgb(0, 0, 0);
    color: #00ff00;
}
.texto2{
    color: #00ff00;
    padding: 0;
}